html {
  font-family: sans-serif;
}
html, body {
  height: 100%;
  display: flex;
  margin: 0;
}
body {
  flex: 1;
}
#code {
  flex: 1;
  margin: 0;
  overflow-y: auto;
}
#tree {
  overflow-x: none;
  overflow-y: auto;
}

.trivia {
  background: #fcc;
}
.inner {
  background: #ccf;
}
